*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
   
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(images/cryptodesign.png);
    background-color: rgb(46, 46, 148);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 600px 600px;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 70px;
    border-radius: 50px;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}
.nav-links{
    flex:1;
    text-align: right;
}
.nav-links ul li a{
    color: rgb(255, 255, 255);;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width:100%;

}
.text-box{
    width: 90%;
    color: aliceblue;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: left;
}
.text-box h1{
    font-size: 50px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size:18px;
    color: aliceblue;
}


nav .fa{
    display: none;
}



@media screen and ( max-width:700px)  {

.text-box h1{
    font-size: 20px;
}
.nav-links ul li{
    display: block;
}
.nav-links{
    position: absolute;
    background: #f44336;
    height: 100vh;
    width:200px;
    top:0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 0.10s;
}
nav .fa{
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
}
.nav-links ul{
    padding: 30px;
}
.section{
            flex-flow: row wrap;
        }
        .section img{
            display: block;
            order:1;
            width: 100%;
            height: 250px;
        }
        .section h1{
            display: block;
            order:2;
            width:100%
       }
       .section p{
        padding: 20px 35px;
       }
    
}

/*-----home------*/


.section{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width:90%;
    margin: 2rem auto 0 auto;
}
.section img{
    height: 400px;
}
.section h1{
    margin: 0;
    color:black;
}
.section p{
    color:black;
    opacity: 80%;
}

ul{
    font-weight:700;
    font-size:5px;

}
